@inherits NoCategoriesComponent

<p class="text-center">@Resource.CreateCategoryFirst</p>
<div class="d-flex justify-content-center">
    <btn @onclick="NavigateToCategories" class="default-btn create">@Resource.CreateCategoryTitle</btn>
</div>